.icon {
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}

.icon-calendar-white {
    background-image: url(../images/icons/calendar-white.png);
}

.icon-checkmark-white {
    background-image: url(../images/icons/checkmark-white.png);
}

.icon-close-gray {
    background-image: url(../images/icons/close-gray.png);
}

.icon-close-white {
    background-image: url(../images/icons/close-white.png);
}

.icon-maximize-gray {
    background-image: url(../images/icons/maximize-gray.png);
}

.icon-maximize-white {
    background-image: url(../images/icons/maximize-white.png);
}

.icon-menu-dark-gray {
    background-image: url(../images/icons/menu-dark-gray.png);
}

.icon-menu-gray {
    background-image: url(../images/icons/menu-gray.png);
}

.icon-menu-white {
    background-image: url(../images/icons/menu-white.png);
}

.icon-minimize-gray {
    background-image: url(../images/icons/minimize-gray.png);
}

.icon-minimize-white {
    background-image: url(../images/icons/minimize-white.png);
}

.icon-settings-gray {
    background-image: url(../images/icons/settings-gray.png);
}

.icon-settings-white {
    background-image: url(../images/icons/settings-white.png);
}

.icon-triangle-down-gray {
    background-image: url(../images/icons/triangle-down-gray.png);
}

.icon-triangle-down-red {
    background-image: url(../images/icons/triangle-down-red.png);
}

.icon-triangle-down-small-gray {
    background-image: url(../images/icons/triangle-down-small-gray.png);
}

.icon-triangle-up-blue {
    background-image: url(../images/icons/triangle-up-blue.png);
}

.icon-triangle-up-gray {
    background-image: url(../images/icons/triangle-up-gray.png);
}
